<div class="main_chat_header">
  <div class="header_title">
    <%= @room.name %>
  </div>
  <div class="header_botton">
    <a href="#">チケットを終了する</a>
  </div>
</div>

<div class="messages">
  <%# 部分テンプレートを@messagesの数だけ繰り返す %>
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form_input">
    <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
    <%# label要素がクリックされれば、子要素の「画像」もクリックされる仕様 %>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
